# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# AWS credentials / keys
*.pem
*.ppk
.aws/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db