# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Logs
*.log

# Keys
*.pem
*.ppk